.review {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }

  &__image  {
    margin-right: 1rem;

    img {
      border-radius: 50%;
    }
  }

  &__author {
    font-weight: bold;
    margin-top: 1rem;
  }

  @media #{$breakpoint-not-small} {
    width: 70%;
  }
}
